<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/navfooter.css">
    <link rel="stylesheet" href="/assets/css/salons.css">


    
    <title>Document</title>
</head>
      <body>
        <header>
        <!-- header*************** -->
        <div class="topArea">
      <div class="header_Photo"> <img src="/assets/images/hair-salon-png-hd-hairdressing-u0026-styling-services-hairdressing-hd-png-1295.png" alt=""></div>
        <div id="logo"> 
          <img src="/assets/images/logo.jpg"> 
        </div> 
        
         <!--NAV bar*************** -->
          <nav class="navMenu">
            <a href="/views/index.html">Home</a>
            <a href="/views/find_salon.html">Find a Salon</a>
            <a href="#">Gallery</a>
            <a href="#">Career</a>
            <a href="#">About</a>
            
            <form  class="sign" action="/views/signup.html">
                <button class="but">Login</button>
                
                <button  class="but">SignUp</button>
              </form>
            
            <div class="searchbar">
            <form class="search" action="">
                <input type="search" placeholder="Search here..." required>
                <button type="submit">Search</button>
              </form>
            </div>
          </nav>

          <!--end of nav bar*************** -->
      
    
    </header>
 <!-- about us -->

 <section class="sec1">
    <div class="book-appointment">
        <div class="sec1-image">
            <img src="/assets/images/sec1.jpg" alt="" >
            </div>
        <div class="sec1-header">
          <h2>Ramani Salon</h2>
        </div>
        
        <div class="sec1-text">

            Unlike no other, our sustainably made collections are magical statements of design, <br> style and versatility. 
            Simple silhouettes and highly skilled craftsmanship goes into <br>each and every one of our pieces.
        </div>

        <button id="book_appoinment">Book an appointment</button>
       
    </div>
 </section>

 <section class="sec2">
    <div class="sec2-container">
    <div class="sec2-image">
      <img src="/assets/images/sec2.jpg" alt="" >
    </div>
    <div class="sec2-text">
        <h2>
            Decadence Hair & Beauty is an exclusive boutique salon in the heart of Bloomsbury providing a warm, welcoming and pampering retreat from the noise of the city. We have the most experienced and friendly team of hairstylists, colourists, beauty therapists and front of house staff who are proud to bring you our personalised five-star service. You will feel fabulous from the moment you walk through the door.
        </h2>
        
    </div>
</div>

 </section>


      </body>

     
        

</html>
    