<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/signup.css">
    <link rel="stylesheet" href="/assets/css/navfooter.css">
<link rel="stylesheet" href="/assets/css/find_salon.css">

    
    <title>Document</title>
</head>
      <body>
        <!-- header*************** -->
        <div class="topArea">
      <div class="header_Photo"> <img src="/assets/images/hair-salon-png-hd-hairdressing-u0026-styling-services-hairdressing-hd-png-1295.png" alt=""></div>
        <div id="logo"> 
          <img src="/assets/images/logo.jpg"> 
        </div> 
        
         <!--NAV bar*************** -->
          <nav class="navMenu">
            <a href="/views/index.html">Home</a>
            <a href="/views/find_salon.html">Find a Salon</a>
            <a href="#">Gallery</a>
            <a href="#">Career</a>
            <a href="#">About</a>
            
            <form  class="sign" action="/views/signup.html">
                <button class="but">Login</button>
                
                <button  class="but">SignUp</button>
              </form>
            
            <div class="searchbar">
            <form class="search" action="">
                <input type="search" placeholder="Search here..." required>
                <button type="submit">Search</button>
              </form>
            </div>
          </nav>

          
        </div>
        <h2 class="section-title2">Best Hair Salons For a Professional Look</h2>
        <section class="class3">
            
        </section>
        <section class="shop-content">
            <!--box 1-->
            <div class="product-box">
                <img src="/assets/images/ramani.jpg" alt="" class="product-img">
                <h2 class="product-title">Ramani Fernando Salons</h2>
                <a href="/views/salons/ramani.html">
                <button>Book an appointment</button>
                </a>
            </div>
            <!--box 2-->
            <div class="product-box">
                <img src="/assets/images/kiyaas.png" alt="" class="product-img">
                <h2 class="product-title">Nadine’s by Kiyaas</h2>
                <a href="https://www.lonelyplanet.com/sri-lanka/colombo/shopping/tropic-of-linen/a/poi-sho/1567840/357443">
                <button>Book an appointment</button>
                </a>
            </div>
            <!--box 3-->
            <div class="product-box">
                <img src="/assets/images/studio.jpg" alt="" class="product-img">
                <h2 class="product-title">The Hair Studio</h2>
                <a href="https://lakarcade.lk/">
                <button>Book an appointment</button>
                </a>
            </div>
            <!--box 4-->
            <div class="product-box">
                <img src="/assets/images/tony.png" alt="" class="product-img">
                <h2 class="product-title">Toni & Guy Salon</h2>
                <a href="https://ceylonstores.lk/">
                <button>Book an appointment</button>
                </a>
            </div>
            <!--box 5-->
            <div class="product-box">
                <img src="/assets/images/jaal.png" alt="" class="product-img">
                <h2 class="product-title">Jaal Salon</h2>
                <a href="https://odel.lk/">
                <button>Book an appointment</button>
                </a>
            </div>
            <!--box 6-->
            <div class="product-box">
                <img src="/assets/images/mosh.png" alt="" class="product-img">
                <h2 class="product-title">Mosh</h2>
                <a href="https://houseoffashions.lk/contact-us/">
                <button>Book an appointment</button>
                </a>
            </div>
        </section>
      </body>

      <footer>
        <footer class="footer">
            <div class="footer__addr">
              <h1 class="footer__logo">DIVINE</h1>
                  
              <h2>Contact</h2>
              
              <address>
                5534 Somewhere In. The World 22193-10212<br>
                    
                <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
              </address>
            </div>
            
            <ul class="footer__nav">
              <li class="nav__item">
                <h2 class="nav__title">About Us</h2>
          
                <ul class="nav__ul">
                  <li>
                    <a href="#">Contact us</a>
                  </li>
          
                  <li>
                    <a href="#">Career</a>
                  </li>
                      
                  <li>
                    <a href="#">Find a Salon</a>
                  </li>
                  <li>
                    <a href="#">Gallery</a>
                  </li>
                 
                </ul>
              </li>
              
            
           
            </ul>
            
            <div class="legal">
              <p>&copy; Group Remo. All rights reserved.</p>
              
              <div class="legal__links">
                <span>Made with <span class="heart">♥</span> from our group</span>
              </div>
            </div>
          </footer>


</html>
    