<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/home.css">
    
    <title>Document</title>
</head>
      <body>
        <!-- header*************** -->
        <div class="topArea">
      <div class="header_Photo"> <img src="/assets/images/hair-salon-png-hd-hairdressing-u0026-styling-services-hairdressing-hd-png-1295.png" alt=""></div>
        <div id="logo"> 
          <img src="/assets/images/logo.jpg"> 
        </div> 
        
         <!--NAV bar*************** -->
          <nav class="navMenu">
            
            <a href="/views/index.html">Home</a>
            <a href="/views/find_salon.html">Find a Salon</a>
            <a href="#">Gallery</a>
            <a href="#">Career</a>
            <a href="#">About</a>
            
            <form  class="sign" action="/views/signup.html">
              <button class="but">Login</button>
              
              <button  class="but">SignUp</button>
            </form>
          </nav>

          
        </div>

         <!-- header text and search button*************** -->
        <div class="hero-text">
            <h1>Welcome To DIVINE</h1>
            <h2>BEST HAIR SALONS FOR A <br> PROFESSIONAL LOOK</h2>
            <p>something something something....</p>
            <br><br>
            <form class="search" action="">
              <input type="search" placeholder="Search here..." required>
              <button type="submit">Search</button>
            </form>
            
          </div>
         

           <!-- slider*************** -->
           <div class="box">
            <figure class="snip1573 ">
             <img src="/assets/images/1.jpg" alt="sample89" />
             <figcaption>
               <h3>gallery</h3>
             </figcaption>
             <a href="#"></a>
           </figure>
           <figure class="snip1573 "><img src="/assets/images/3.jpg" alt="sample94" />
             <figcaption>
               <h3>Explore</h3>
             </figcaption>
             <a href="#"></a>
           </figure>
           <figure class="snip1573"><img src="/assets/images/6.jpg" alt="sample92" />
             <figcaption>
               <h3>Explore</h3>
             </figcaption>
             <a href="#"></a>
           </figure>
           <figure class="snip1573"><img src="/assets/images/5.jpg" alt="sample92" />
             <figcaption>
               <h3>Gallery</h3>
             </figcaption>
             <a href="#"></a>
           </figure>
         </div>
          

         
            
         <!--register salon-->
      
       
          
          <script src="/assets/js/home.js"></script>
          </body>


             <!-- footer****************** -->
             
          <footer class="footer">
            <div class="footer__addr">
              <h1 class="footer__logo">DIVINE</h1>
                  
              <h2>Contact</h2>
              
              <address>
                5534 Somewhere In. The World 22193-10212<br>
                    
                <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
              </address>
            </div>
            
            <ul class="footer__nav">
              <li class="nav__item">
                <h2 class="nav__title">About Us</h2>
          
                <ul class="nav__ul">
                  <li>
                    <a href="#">Contact us</a>
                  </li>
          
                  <li>
                    <a href="#">Career</a>
                  </li>
                      
                  <li>
                    <a href="#">Find a Salon</a>
                  </li>
                  <li>
                    <a href="#">Gallery</a>
                  </li>
                 
                </ul>
              </li>
              
            
           
            </ul>
            
            <div class="legal">
              <p>&copy; Group Remo. All rights reserved.</p>
              
              <div class="legal__links">
                <span>Made with <span class="heart">♥</span> from our group</span>
              </div>
            </div>
          </footer>


</html>


