<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/signup.css">
    <link rel="stylesheet" href="/assets/css/navfooter.css">

    
    <title>Document</title>
</head>
      <body>
        <!-- header*************** -->
        <div class="topArea">
      <div class="header_Photo"> <img src="/assets/images/hair-salon-png-hd-hairdressing-u0026-styling-services-hairdressing-hd-png-1295.png" alt=""></div>
        <div id="logo"> 
          <img src="/assets/images/logo.jpg"> 
        </div> 
        
         <!--NAV bar*************** -->
          <nav class="navMenu">
            <a href="/views/index.html">Home</a>
            <a href="/views/find_salon.html">Find a Salon</a>
            <a href="#">Gallery</a>
            <a href="#">Career</a>
            <a href="#">About</a>
            
            <form  class="sign" action="/views/signup.html">
              <button class="but">Login</button>
              
              <button  class="but">SignUp</button>
            </form>

            
            
            <div class="searchbar">
            <form class="search" action="">
                <input type="search" placeholder="Search here..." required>
                <button type="submit">Search</button>
              </form>
            </div>
          </nav>

          
        </div>
      
        <div class="signup">
         <div class="container right-panel-active">
            <!-- Sign Up -->
            <div class="container__form container--signup">
                <form action="#" class="form" id="form1">
                    <h2 class="form__title">Sign Up</h2>
                    <input type="text" placeholder="User" class="input" />
                    <input type="email" placeholder="Email" class="input" />
                    <input type="password" placeholder="Password" class="input" />
                    <button class="btn">Sign Up</button>
                </form>
            </div>
        
            <!-- LOG In -->
            <div class="container__form container--signin">
                <form action="#" class="form" id="form2">
                    <h2 class="form__title">Log In</h2>
                    <input type="email" placeholder="Email" class="input" />
                    <input type="password" placeholder="Password" class="input" />
                    <a href="#" class="link">Forgot your password?</a>
                    <button class="btn">Log In</button>
                </form>
            </div>
        
            <!-- Overlay -->
            <div class="container__overlay">
                <div class="overlay">
                    <div class="overlay__panel overlay--left">
                        <button class="btn" id="signIn">Log In</button>
                    </div>
                    <div class="overlay__panel overlay--right">
                        <button class="btn" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
          
          <script src="/assets/js/home.js"></script>
          <script src="/assets/js/signUp.js"></script>
          </body>


             <!-- footer****************** -->
             
          <footer class="footer">
            <div class="footer__addr">
              <h1 class="footer__logo">DIVINE</h1>
                  
              <h2>Contact</h2>
              
              <address>
                5534 Somewhere In. The World 22193-10212<br>
                    
                <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
              </address>
            </div>
            
            <ul class="footer__nav">
              <li class="nav__item">
                <h2 class="nav__title">About Us</h2>
          
                <ul class="nav__ul">
                  <li>
                    <a href="#">Contact us</a>
                  </li>
          
                  <li>
                    <a href="#">Career</a>
                  </li>
                      
                  <li>
                    <a href="#">Find a Salon</a>
                  </li>
                  <li>
                    <a href="#">Gallery</a>
                  </li>
                 
                </ul>
              </li>
              
            
           
            </ul>
            
            <div class="legal">
              <p>&copy; Group Remo. All rights reserved.</p>
              
              <div class="legal__links">
                <span>Made with <span class="heart">♥</span> from our group</span>
              </div>
            </div>
          </footer>


</html>


